:root {
  --font-basic: #000;
  --font-lite: #222;
  --font-rev: #fff;
  --font-hover: #aaa;
  --font-editor-placeholder: #888;
  --font-toggle-hover: #ffa600;
  --font-toggle: #ffb938;
  --font-border: #8e98a7;
  --font-delete: #e46962;
  --font-warning: #be514b;
  --font-new :#44acf2;
  --font-on-edit: #ffdd9d;
  --bg-black: #000;
  --bg-basic: #0d1117;
  --bg-basic-grad-bottom: #0d111700;
  --bg-basic-grad-top: #0d1117ff;
  --bg-lite: #161b22;
  --bg-lite-grad-bottom: #161b2200;
  --bg-lite-grad-top: #161b22ff;
  --bg-lite-hover: #1f2630;
  --bg-liter: #293340;
  --bg-liter-hover : #415166;
  --bg-dark: #010409;
  --bg-dark-grad-bottom: #01040900;
  --bg-dark-grad-top: #010409ff;
  --bg-rev: #f2f2f2;
  --bg-rev-hover : #e7e7e7;
  --hr-basic: #858585;
  --border-setting: #262c35;
  --border-basic: #30363d;
  --border-focus: #6e7681;
  --border-cursor: #000;
  --border-dark:#14181b;
  --border-lite-hover: #242d39;
  --button-basic: #21262c;
  --button-dark: #161b22;
  --button-darker: #151b25;
  --button-comment : #1f2630;
  --button-lite: #3d4752;
  --button-activated : #000;
  --button-hover: #242d39;
  --selection-setting: #151b25;
  --selection-bg: #6194c8;
  --selection-font: #fff;
  --code-highlight-bg: #3d4752;
  --code-highlight-font: #fff;
  --blockquote-bg: #161b22;
  --blockquote-hover: #2e3948;
  --thumb-hover: #48576d;
}
